.top_div{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.bild_text_div{
    display: flex;
    flex-direction:column;
    justify-content:space-between
}

img{
max-width: 40%;
max-height: auto;
}

li{
    margin-bottom: 40px;;
}

body {

    background-image: url("Img/star-wars-backgrounds-25_bc15ec98.jpeg");
    background-position: center center;
    background-size: 100%;



}

h1 {

    color: red;
    background-color: green;
    font-family:"Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a{ 
color:red;
}

h2 {

    color: red;
    background-color:green;
    font-family:"Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h3 {
color: red;
background-color: green;
font-family:"Roboto Mono", monospace;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;

}

h4{
color: red;
background-color: green;
font-family:"Roboto Mono", monospace;
font-optical-sizing: auto;
font-weight: weight;

